/* colors - 
primary - #22d3ee
tint - #ecfeff
shade - #f1f5f9
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:ital@0;1&family=Rubik:ital@1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #555;
  background-color: #ecfeff;
}

/* ************************** */
/* GENERAL REUSABLE COMPONENENTS */
/* ************************** */

/* .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}  */

/*Why container class not working?*/

.header-section {
  /* position: fixed;
  margin-top: 0; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #22d3ee;
  height: 10rem;
  align-items: center;
  margin-bottom: 3rem;
}

/* .main-body {
  margin-top: 60px;
} */

.heading {
  font-size: 2rem;
  padding: 1rem 2rem;
  font-weight: 800;
  cursor: pointer;
}

.navigation-list {
  padding: 0 1px;
}
.navigation {
  display: flex;
  list-style: none;
}
.nav-link:link,
.nav-link:visited {
  font-size: 2rem;
  padding: 1rem 3rem;
  font-weight: 700;

  text-decoration: none;
  color: #555;
}

.nav-link:active,
.nav-link:hover {
  color: black;
}

.container {
  /*Why this property not working here?*/
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  font-size: 2rem;
  padding: 5rem 7rem;
  text-align: left;
  background-color: #ecfeff;
  width: 100%;
  /* margin-bottom: 4rem; */
}

/* .project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
} */

.cli-pj,
.banana-pj,
.shakespeare-pj,
.cashregister-pj,
.birthdaylucky-pj,
.triangle-pj,
.palindrome-pj,
.stonks-pj,
.animalsInterpretor-pj,
.booksRec-pj {
  background-color: #f1f5f9;
  padding: 3rem 6rem;
}

.projects {
  font-size: 3rem;
  margin-bottom: 3rem;
  color: black;
}

.pj-text {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.lang {
  font-size: 1.8rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}
.btn-1 {
  display: inline;
  display: flex;
  flex-direction: column;
  height: 3rem;
  margin-top: 2rem;
  padding: 1.2rem 2rem;
  background-color: #22d3ee;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  border: 0.5px solid black;
  justify-content: center;
  text-decoration: none;
  /* font-family: "Poppins", sans-serif; */
}

.btn-2 {
  display: inline;
  display: flex;
  flex-direction: column;
  height: 3rem;
  margin-top: 2rem;
  padding: 1.2rem 2rem;
  background-color: white;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid #22d3ee;
  justify-content: center;
  text-decoration: none;
}

button a {
  color: black;
}

.btn-1:hover {
  background-color: white;
}
.btn-2:hover {
  background-color: #a5f3fc;
  /* font-family: "Poppins", sans-serif; */
}

p a {
  color: #555;
}
.visit-us:hover {
  text-decoration: none;
}

.social-icons {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: center; /*Why margin auto not working here like it worked in the button? */
  cursor: pointer;
}

.footer-section {
  /* height: 20%; */
  text-align: center;
  background-color: #22d3ee;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.footer-section h2 {
  margin: 2rem 0;
}

.margin-btm {
  margin-bottom: 5rem;
}

.social-icon a {
  color: #555;
}
