/* colors - 
primary - #22d3ee
tint - #ecfeff
shade - #f1f5f9
*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #ecfeff;
}

/* ************************** */
/* GENERAL REUSABLE COMPONENENTS */
/* ************************** */

/* .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}  */

/*Why container class not working?*/

.header-section {
  /* position: fixed;
  margin-top: 0; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #22d3ee;
  height: 10rem;
  align-items: center;
  margin-bottom: 3rem;
}

/* .main-body {
  margin-top: 60px;
} */

.heading {
  font-size: 2rem;
  padding: 1rem 2rem;
  font-weight: 800;
  cursor: pointer;
}

.navigation-list {
  padding: 0 1px;
}
.navigation {
  display: flex;
  list-style: none;
}
.nav-link:link,
.nav-link:visited {
  font-size: 2rem;
  padding: 1rem 3rem;
  font-weight: 700;

  text-decoration: none;
  color: #555;
}

.nav-link:active,
.nav-link:hover {
  color: black;
}

.hero-section {
  justify-content: center;
  margin-bottom: 10rem;
}
.hero-img {
  max-width: 180rem;
  height: 40rem;
  display: block;
  margin: 1rem auto;
}

.hero-text {
  font-weight: 600;
  font-size: 5rem;
  text-align: center;
}

.container {
  /*Why this property not working here?*/
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  font-size: 2rem;
  padding: 5rem 7rem;
  text-align: center;
  background-color: #ecfeff;
  /* margin-bottom: 4rem; */
}

.technologies-container {
  background-color: #f1f5f9;
}

.projects-container {
  background-color: #ecfeff;
}

.blogs-container {
  background-color: #f1f5f9;
  /* margin-bottom: 12rem; */
}

.footer-section {
  /* height: 20%; */
  background-color: #22d3ee;
  font-size: 2rem;
}

.technologies,
.projects,
.blogs {
  font-size: 3.5rem;
  margin-bottom: 5rem;
  color: black;
}

/* .projects-container { */
/* display: flex;
  flex-direction: column;
  row-gap: 5rem; */
/* font-size: 3rem; */
/* padding: 5rem 7rem;
  text-align: center;
  margin-bottom: 3rem;
  background-color: #fefce8;
} */

/* .projects {
  margin-bottom: 5rem;
} */

button {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 3rem;
  margin-top: 2rem;
  padding: 1.2rem 2rem;
  background-color: #22d3ee;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  border: 0.5px solid black;
  justify-content: center;
  text-decoration: none;
  /* font-family: "Poppins", sans-serif; */
}

button a {
  color: black;
}
button:hover {
  background-color: #a5f3fc;
  /* font-family: "Poppins", sans-serif; */
}

/* .blogs-container {
  font-size: 3rem;
  padding: 5rem 7rem;
  text-align: center;
  background-color: #ecfeff;
  margin-bottom: 3rem;
}

.blogs {
  margin-bottom: 5rem;
} */

p {
  line-height: 2;
}
p a {
  color: #555;
}
.visit-us:hover {
  text-decoration: none;
}

.social-icons {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: center; /*Why margin auto not working here like it worked in the button? */
  cursor: pointer;
}

.footer-section {
  /* height: 20%; */
  text-align: center;
  background-color: #22d3ee;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.footer-section h2 {
  margin: 2rem 0;
}
